body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

textarea {
    width: 60%;
    height: 150px;
    margin-top: 20px;
}

button {
    padding: 10px 25px;
    margin-top: 10px;
    cursor: pointer;
}
